fastapi 
uvicorn
opencv-python 
websockets 
numpy
pandas 
influxdb-client 
scikit-learn 
tensorflow==2.16.1
joblib 
h5py 
keras
matplotlib
bs4
crawl4ai
autokeras
flwr
openpyxl
umap
streamlit
mlflow 
mysqlclient
SQLAlchemy